.header {
  height: 80px;
  background-color: #1c2b35;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  border: 2px solid palegreen;
  border-radius: 10px;
  padding: 2px 10px 6px;
}

.links a:hover {
  color: #000000;
  background-color: skyblue;
  border: 2px solid black;
}
